.claude/
.docker/
public_html/app/config/config.php
storage/*
!storage/.gitkeep
!storage/emojis/
!storage/emojis/**
!storage/logs/
storage/logs/*
!storage/logs/.gitkeep
!storage/attachments/
storage/attachments/*
!storage/attachments/.gitkeep
!storage/avatars/
storage/avatars/*
!storage/avatars/.gitkeep
.DS_Store
**/.DS_Store
.vscode/
